.woocommerce, .woocommerce-page {

	/** Payment styling **/
	#payment {
		background:#f7f6f7;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
		
		ul.payment_methods {
			text-align:left;
			padding:1em;
			margin:0;
			list-style:none outside;

			&:after {
				@include clearfloat;
			}
			li {
				line-height:2em;
				text-align:left;
				margin:0;
				font-weight:normal;

				input {
					margin:0 1em 0 0;
				}
				img {
					vertical-align:middle;
					margin:-2px 0 0 .5em;
					position:relative;
				}
			}
		}
		div.form-row {
			padding:1em;
		}
		.terms {
			padding:0 1em 0;
			text-align:right
		}
		/** Payment Box **/
		div.payment_box {
			position:relative;
			width:96%;
			padding:1em 2%;
			margin:1em 0 1em 0;
			font-size:.92em;
			-webkit-border-radius:2px;
			-moz-border-radius:2px;
			border-radius:2px;
			line-height:1.5em;
			background:#ebe8eb;
			background:-webkit-gradient(linear,left top,left bottom,from(#ebe8eb),to(#e0dadf));
			background:-webkit-linear-gradient(#ebe8eb,#e0dadf);
			background:-moz-linear-gradient(center top,#ebe8eb 0,#e0dadf 100%);
			background:-moz-gradient(center top,#ebe8eb 0,#e0dadf 100%);
			box-shadow:0 1px 2px 0 rgba(0,0,0,0.25);
			-webkit-box-shadow:0 1px 2px 0 rgba(0,0,0,0.25);
			-moz-box-shadow:0 1px 2px 0 rgba(0,0,0,0.25);
			color:#5e5e5e;
			text-shadow:0 1px 0 rgba(255,255,255,0.8);

			#cc-expire-month,
			#cc-expire-year {
				width:48%;
				float:left
			}
			#cc-expire-year {
				float:right
			}
			span.help {
				font-size:11px;
				color:#777;
				line-height:13px;
				font-weight:normal
			}
			.form-row {
				margin:0 0 1em;
		
				select {
					width:48%;
					float:left;
					margin-right:3.8%;

					&:nth-child(3n) {
						margin-right:0
					}

				}
			}
			&:after {
				content: "";
				display: block;
				border:8px solid #ebe8eb;
				border-right-color:transparent;
				border-left-color:transparent;
				border-top-color:transparent;
				position:absolute;
				top:-3px;
				left:0;
				margin:-1em 0 0 2em;
			}
		}
	}
}