/*
 Theme Name:   LEDprofi
 Theme URI:    http://www.ledprofi.com
 Description:  LEDprofi ECommerce Theme
 Author:       Sebastian Wegscheider
 Author URI:   http://www.sebastianwegscheider.com
 Template:     nudie
 Version:      1.0.0
*/

/**
 * Parent stylesheet is included by default unless you have
 * dequeued it in your child themes function.php
 */


/* Breadcrumb
================================================*/
a.checkout-button.btn.btn-primary.alt.wc-forward {
	font-size:24px;
}

a.checkout-button.btn.btn-primary.alt.wc-forward::before {
	content:"\f061";
	font-family: FontAwesome;
	margin-right:10px;
	vertical-align:top;
}

.home_selec {
	margin-bottom:10px;
}
.home_desc {
	display:block;
	margin-bottom:10px;
}
.shop_table > tfoot > tr > td > input[type=submit] {
	width:100%!important;
}
img {
	    border: 0 none!important;
    box-shadow: none!important;
}
input#coupon_code.form-control {
	width:140px!important;
}
.breadcrumb-bar {
	background: transparent;

}

#birnen_label > span:before {
	    background-image: url('http://www.ledprofi.com/wp-content/uploads/2015/06/birne_icon1.png');
    background-size: 30px;
}


.delivery_status {
	color:transparent!important;
}
.breadcrumb {
	color:#ccc!important;
	padding-top:4px;
	padding-bottom:4px;
	background:#f7f7f7!important;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	background:#fff!important;
	border-radius:0px;
}
.breadcrumb>span {
	display:inline-block;
	padding: 0 5px;
	color:#777;

}
.farbtemperatur {
	padding:5px 10px;
		display:inline-block;
text-align:left;
font-size:14px;
color:#333;
font-weight:bold;
margin:10px;
}
li.cat-item._warmweiß > label > .cat-item-name,
li.cat-item._extra > label > .cat-item-name,
li.cat-item._naturweiß > label > .cat-item-name {
		padding:5px 10px;
		display:inline-block;
text-align:left;
font-size:14px;
color:#333;
font-weight:bold;
margin-bottom:0px;
width:auto!important;
text-align:center;
width:150px!important;
}

li.cat-item._warmweiß > label > .cat-item-name {
	background:#ffe9a8;
}
li.cat-item._naturweiß > label > .cat-item-name {
	background:#d2eaef!important;
}
li.cat-item._extra > label > .cat-item-name {
	background:#efc8b1!important;
}
.title_wattage > .farbtemperatur {
	margin:0px!important;
	padding:6px 10px;
}
div.title_wattage.final {
	border-right:0px!important;
}
.warmweiss {
background:#ffe9a8!important;
}
.naturweiss {
background:#d2eaef!important;
}
a.button.btn.btn-primary.add_to_cart_button.product_type_simple {
	display:block;
}
.extrawarmweiss {
background:#efc8b1!important;

}

	.anwendungsgebiet {
	min-height:255px;
}

li.product:hover .extrawarmweiss {
	margin-right: 8px;
}
.related_products .products>.row {
	margin-bottom:0px;
}
.sockel_wattersatz,
.lumen_cat_info,
.lebensdauer_cat_info  {
	display:block;
text-align:left;
font-size:14px;
color:#333;
margin-bottom:3px;
}
.sockel_wattersatz {
	margin-bottom:10px;
}
.lieferdauer_cat_info {
		display:block;
text-align:left;
font-size:12px;
color:#333;
font-weight:bold;
}
.filament {
	padding-top:10px;
border-top:1px solid #ccc;

margin-top:10px;
}
.products > .row {
	margin-bottom:10px;
}
.product_title_cat {
	color:#333;
font-weight:bold;
text-align:left;
font-size:18px;
min-height:38px;

}
.navbar-toggle {
	border-color: #ccc!important;
}
.navbar-toggle > .icon-bar {
	background-color: #ccc!important;
}
li > a.dropdown-toggle.mehr::before {
	height:30px;
	width:0px;
}
.btn-primary {
		background-color:#FDBB30!important;
border-color: #eea236!important;
}
li.product {
	min-height:350px;
	list-style:none;
	width:100%!important;
	padding:10px;
	border-top:1px solid #eee;
}
li.product:hover img.attachment-shop_catalog.wp-post-image {
	width:100px;
	height:100px;
	border:1px solid #ccc!important;
	border-radius:4px;
	margin-top:0px;
}

li.product:hover .product_cat_info,
li.product:hover .lieferstatus {
display:block;
font-size:11px;
color:#333;
text-align:center;
margin-top:5px;
}
.lieferstatus {
	display:none;

}
li.product:hover .filament-technik {
	display:block;
}
.filament-technik {
	display:none;
margin-bottom:3px;
}
.next_to_img {
min-height:124px
}
.from_austria {
	padding-top:10px;
	border-top:1px solid #ccc;
	margin-top:10px;
}
.fassung_image {
	display:none!important;
}
li.product:hover .fassung_image {
	display:inline-block!important;
	width:100px;
	height:100px;
	border:1px solid #ccc!important;
	float:left;
}
input.postform:checked + .cat-item {
text-decoration:underline;
 } 
input.postform,
input.alle_input {
	margin-right:4px;
}
.product_cat_info {
	display:none;
	width:100%;
	padding-top:5px;
border-top:1px solid #ccc;
margin-top:10px;
}
.footerlink {
	color:#333!important;
}
li.product:hover {
	background-color:#f7f7f7;
	border:1px solid #ddd;
	border-radius:4px;
	padding-bottom:5px;
}
._sfm_fassung > li.cat-item > .selected_fassung > .cat-item-name {
	padding-top:0px!important;
	text-align:left!important;
}
._sfm_fassung > li.cat-item > .selected_fassung > input {
	display:none;
}
.selected_fassung {
		color: #333;
display: block;
margin-bottom: 0;
font-weight: normal;
text-align: left;
vertical-align: middle;
cursor: normal;
padding:0px!important;
background:none!important;
border:0px!important;
height:auto!important;
}
.selected_fassung:hover {
	text-decoration:none!important;
	cursor:auto!important;
}
ul._sfm_fassung > .alle,
ul._sfm_form > .alle,
ul._sfm_lichtfarbe-beschreibung > .alle,
ul._sfm_spannung_in_volt > .alle {
	display:none;
	width:100%!important;
	padding-left:20px;
}
ul._sfm_fassung > .alle > label:hover,
ul._sfm_birnenleistung > .alle > label:hover,
ul._sfm_spannung_in_volt > .alle > label:hover,
ul._sfm_glas > .alle > label:hover,
ul._sfm_dimmbar > .alle > label:hover,
ul._sfm_retro-look > .alle > label:hover,
ul._sfm_premium > .alle > label:hover {
	text-decoration:none!important;
	cursor: pointer;
	color:#aaa;
}
._sfm_birnenleistung > li.cat-item.alle,
ul._sfm_glas > li.cat-item.alle,
ul._sfm_dimmbar > li.cat-item.alle,
ul._sfm_retro-look > li.cat-item.alle,
ul._sfm_premium > li.cat-item.alle {
	display:none;
}

ul._sfm_form > li.cat-item > label:hover {
		text-decoration:underline;
	cursor: pointer;
	font-weight:bold;
}
ul._sfm_form > li.cat-item.alle > label:hover,
ul._sfm_lichtfarbe-beschreibung > li.cat-item.alle > label:hover,
ul._sfm_spannung_in_volt > li.cat-item.alle > label:hover {
		text-decoration:none!important;
}
img.attachment-shop_catalog.wp-post-image {
	margin-bottom:5px;
	margin-top:6px;
}
li.product:hover img.attachment-shop_catalog.wp-post-image {
	margin-bottom:0px;
}
ul._sfm_fassung > li.cat-item._E27,
ul._sfm_fassung > li.cat-item._E14,
ul._sfm_fassung > .G9,
ul._sfm_fassung > li.cat-item._GU10,
ul._sfm_fassung > .MR16,
ul._sfm_fassung > li.cat-item._GU53,
._sfm_birnenleistung > li.cat-item,
._sfm_form > li.cat-item,
ul._sfm_glas > li.cat-item,
ul._sfm_dimmbar > li.cat-item,
ul._sfm_retro-look > li.cat-item,
ul._sfm_premium > li.cat-item {
	width:33.33333%!important;
display:inline-block;
}

#_sfm_fassung_label:hover {
	border:1px solid #333;
}
form#search-filter-form-24169.searchandfilter {
	text-align:right;
}
input#_sfm_fassung_input:checked + ul._sfm_fassung > li.cat-item > label:hover {
	border:1px solid #333!important;
}
ul._sfm_fassung > li.cat-item > .alle_input:checked ~ ul._sfm_fassung > li.cat-item.alle > label:before,
ul._sfm_form > li.cat-item > .alle_input:checked ~ ul._sfm_form > li.cat-item.alle > label:before,
ul._sfm_lichtfarbe-beschreibung > li.cat-item > .alle_input:checked ~ ul._sfm_lichtfarbe-beschreibung > li.cat-item.alle > label:before,
ul._sfm_spannung_in_volt > li.cat-item > .alle_input:checked ~ ul._sfm_spannung_in_volt > li.cat-item.alle > label:before  {
	display:none;
}
ul._sfm_fassung > li.cat-item > label > input.alle_input,
ul._sfm_form > li.cat-item > label > input.alle_input,
ul._sfm_lichtfarbe-beschreibung > li.cat-item > label > input.alle_input,
ul._sfm_spannung_in_volt > li.cat-item > label > input.alle_input {
	display:block;
}
ul._sfm_fassung > li.cat-item.alle > label,
ul._sfm_form > li.cat-item.alle > label,
ul._sfm_birnenleistung > li.cat-item.alle > label,
ul._sfm_lichtfarbe-beschreibung > li.cat-item.alle > label,
ul._sfm_spannung_in_volt > li.cat-item.alle > label {
	position: absolute;
left:70px;
margin-top:-33px;
visibility:hidden;
}

.vitus_irgendwas > li.cat-item:hover,
.vitus_irgendwas > li.cat-item > label:hover{
	cursor:pointer!important;
}

ul._sfm_fassung > li.cat-item.alle > label:before {
content: "\f00d";
font-family: FontAwesome;
display:block;
color:#c45942;
font-size:24px;
visibility:visible;
margin-left:10px;
margin-top:-7px;
}

ul._sfm_form > li.cat-item.alle > label:before {
content: "\f00d";
font-family: FontAwesome;
display:block;
color:#c45942;
font-size:24px;
visibility:visible;
margin-left:10px;
margin-top:-4px;
}
._sfm_form > li.cat-item.alle {
	display:none;
}

ul._sfm_lichtfarbe-beschreibung > li.cat-item.alle > label:before {
content: "\f00d";
font-family: FontAwesome;
display:block;
color:#c45942;
font-size:24px;
visibility:visible;
margin-left:22px;
margin-top:-3px;

}

ul._sfm_spannung_in_volt > li.cat-item.alle > label:before {
content: "\f00d";
font-family: FontAwesome;
display:block;
color:#c45942;
font-size:24px;
visibility:visible;
margin-left:-114px;
margin-top:-8px;
}
._sfm_spannung_in_volt > li.cat-item > label {
	text-align:center;
border:1px solid #ccc;
border-radius:4px;
padding:5px;
display:inline-block;
width:90%;
max-width:180px;
}

ul._sfm_retro-look > li.cat-item._1 > label:before {
	content:"\f00c";
	font-family: FontAwesome;
	display:block;
	color:#ccc;
	font-size:24px;
	visibility:visible;
	margin-left: -159px;
	margin-top: -11px;
}
ul._sfm_retro-look > li.cat-item.alle > label:before {
	content: "\f00d";
	font-family: FontAwesome;
	display: block;
	color: #c45942;
	font-size: 24px;
	visibility: visible;
	/* margin-left: -144px; */
	margin-top: -50px;
	margin-left:94px;
}

ul._sfm_retro-look > li.cat-item.alle > label > .cat-item-name {
	display:none!important;
}
ul._sfm_retro-look > li.cat-item._1 > label {
position: absolute;
left: 70px;
margin-top: -33px;
visibility: hidden;
}

ul._sfm_retro-look>li.cat-item.alle {
font-size: 14px;
width: 0 !important;
display: none;
margin:0px!important;
padding:0px!important;
}
ul._sfm_retro-look>li.cat-item._1 {
margin:0px!important;
padding:0px!important;
}
ul._sfm_retro-look {
	height:0px;
}

ul._sfm_dimmbar > li.cat-item._1 > label:before {
	content:"\f00c";
	font-family: FontAwesome;
	display:block;
	color:#ccc;
	font-size:24px;
	visibility:visible;
	margin-left: -184px;
	margin-top: -11px;
}
ul._sfm_dimmbar > li.cat-item.alle > label:before {
	content: "\f00d";
	font-family: FontAwesome;
	display: block;
	color: #c45942;
	font-size: 24px;
	visibility: visible;
	/* margin-left: -144px; */
	margin-top: -50px;
	margin-left:82px;
}

ul._sfm_dimmbar > li.cat-item.alle > label > .cat-item-name {
	display:none!important;
}
ul._sfm_dimmbar > li.cat-item._1 > label {
position: absolute;
left: 70px;
margin-top: -33px;
visibility: hidden;
}

ul._sfm_dimmbar>li.cat-item.alle {
font-size: 14px;
width: 0 !important;
display: none;
margin:0px!important;
padding:0px!important;
}
ul._sfm_dimmbar>li.cat-item._1 {
margin:0px!important;
padding:0px!important;
}
ul._sfm_dimmbar {
	height:0px;
}
ul._sfm_premium > li.cat-item._1 > label:before {
	content:"\f00c";
	font-family: FontAwesome;
	display:block;
	color:#ccc;
	font-size:24px;
	visibility:visible;
	margin-left: 100px;
	margin-top: -39px;
}
ul._sfm_premium > li.cat-item.alle > label:before {
	content: "\f00d";
	font-family: FontAwesome;
	display: block;
	color: #c45942;
	font-size: 24px;
	visibility: visible;
	/* margin-left: -144px; */
	margin-top: -66px;
margin-left: 224px;
position:absolute;}

ul._sfm_premium > li.cat-item.alle > label > .cat-item-name {
	display:none!important;
}
ul._sfm_premium > li.cat-item._1 > label {
position: absolute;
left: 70px;
margin-top: -33px;
visibility: hidden;
}

p.stock.in-stock {
	display:none!important;
}
ul._sfm_premium>li.cat-item.alle {
font-size: 14px;
width: 0 !important;
display: none;
margin:0px!important;
padding:0px!important;
}
ul._sfm_premium>li.cat-item._1 {
margin:0px!important;
padding:0px!important;
}
ul._sfm_premium {
	height:0px;
}

._sfm_lichtfarbe-beschreibung > li.cat-item > label > .cat-item-name {
	border-radius:4px;
		border:1px solid #ccc;

}
._sfm_lichtfarbe-beschreibung > li.cat-item > label > .cat-item-name:hover {
	border:1px solid #ccc;
}
._sfm_lichtfarbe-beschreibung > li.cat-item > label > input,
._sfm_premium > li.cat-item > label > input,
._sfm_dimmbar > li.cat-item > label > input,
._sfm_glas > li.cat-item > label > input,
._sfm_retro-look > li.cat-item > label > input {
visibility:hidden;
width:0px;
margin-right:0px;
}
._sfm_lichtfarbe-beschreibung > li.cat-item > label:hover {
	cursor:pointer;
	text-decoration:underline!important;
}
._sfm_lichtfarbe-beschreibung > li.cat-item > label > .cat-item-name:hover {
	text-decoration:underline!important;
}
ul._sfm_lichtfarbe-beschreibung > li.cat-item.alle > label:hover {
cursor:pointer!important;
}
._sfm_spannung_in_volt > li.cat-item > label > input {
visibility:hidden;
width:0px;
margin-right:0px;
}
._sfm_spannung_in_volt > li.cat-item > label:hover {
	cursor:pointer;
	text-decoration:underline!important;
}
._sfm_spannung_in_volt > li.cat-item > label > .cat-item-name:hover {
	text-decoration:underline!important;
}
ul._sfm_spannung_in_volt > li.cat-item.alle > label:hover {
cursor:pointer!important;
}

ul._sfm_birnenleistung > li.cat-item.alle > label:before {
content: "\f00d";
font-family: FontAwesome;
display:block;
color:#c45942;
font-size:24px;
visibility:visible!important;
margin-left:64px;
margin-top:-8px;
}

ul._sfm_form > li.cat-item.alle > label:before {
margin-left:98px!important;
}

ul.radio_buttons input:checked + .cat-item-name {
	text-decoration:underline!important;
	font-weight:bold;
}
._sfm_birnenleistung > li.cat-item.alle,
._sfm_retro-look > li.cat-item.alle,
._sfm_dimmbar > li.cat-item.alle,
._sfm_glas > li.cat-item.alle,
._sfm_premium > li.cat-item.alle   {
	width:0!important;
}
ul._sfm_fassung > li.cat-item.alle > label:before + ul._sfm_fassung > li.cat-item.alle > label > input:checked {
	visibility:hidden!important;
}
._sfm_birnenleistung input,
._sfm_glas input,
._sfm_dimmbar input,
._sfm_retro-look input,
._sfm_premium input {
	margin-right:0px!important;
}
ul._sfm_fassung > li.cat-item._E14 {
	margin-right:20px;
}
label {
	font-weight:normal;
}
ul._sfm_birnenleistung,
ul._sfm_glas,
ul._sfm_dimmbar,
ul._sfm_retro-look,
ul._sfm_premium {
	padding-left:0px!important;
}
ul._sfm_glas > li.cat-item._1 > label,
ul._sfm_dimmbar > li.cat-item._1 > label,
ul._sfm_retro-look > li.cat-item._1 > label,
ul._sfm_premium > li.cat-item._1 > label,
ul._sfm_birnenleistung > li.cat-item._25 > label,
ul._sfm_birnenleistung > li.cat-item._35 > label,
ul._sfm_birnenleistung > li.cat-item._40 > label,
ul._sfm_birnenleistung > li.cat-item._50 > label,
ul._sfm_birnenleistung > li.cat-item._60 > label,
ul._sfm_birnenleistung > li.cat-item._75 > label,
ul._sfm_birnenleistung > li.cat-item._100 > label {

text-align:center;
border:1px solid #ccc;
border-radius:4px;
padding:5px;
display:inline-block;
width:90%;
}

ul._sfm_birnenleistung > li.cat-item._25 > label > input,
ul._sfm_birnenleistung > li.cat-item._35 > label > input,
ul._sfm_birnenleistung > li.cat-item._40 > label > input,
ul._sfm_birnenleistung > li.cat-item._50 > label > input,
ul._sfm_birnenleistung > li.cat-item._60 > label > input,
ul._sfm_birnenleistung > li.cat-item._75 > label > input,
ul._sfm_birnenleistung > li.cat-item._100 > label > input {
	visibility:hidden;
	height:0px;
width:0px;
}

li.sf-field-post-meta-filament,
li.sf-field-post-meta-ausfuehrung,
li.sf-field-post-meta-testsieger_technik,
li.sf-field-post-meta-auslaufprodukt,
li.sf-field-post-meta-flackerfrei,
li.sf-field-post-meta-watt {
	display:none!important;
}
.info_category_header {
	padding:10px;
width:100%;
background:#f7f7f7;
border-radius:4px;
margin-bottom:10px;
border:1px solid #ddd;
float:left;
text-align:center;

}
ul.radio_buttons.vitus_irgendwas {
	border:1px solid #eee;
border-radius:4px;
}
.vitus_irgendwas > .cat-item {
	display:inline-block;;
width:50%;
padding:5px;
text-align:center;
}
.vitus_irgendwas > .cat-item > label > input {
	display:none;
}
.vitus_irgendwas > .cat-item.alle {
	float:right;
}

.vitus_irgendwas {
	padding-left:0px!important;
}
.vitus_irgendwas > .cat-item._1 {
	border-radius:4px 0px 0px 4px;
font-size:14px;
border-right:1px solid #eee;s
}
.no_mt {
	margin-top:0px!important;
}
.no_mb {
	margin-bottom:0px!important;
}
.trust_section_home_text {
	display:inline-block;
margin-top:10px;
}
.trust_section_home {
display:inline-block;
margin-top:10px;
padding-top:10px;
border-top:1px solid #ddd;
padding-bottom:10px;
border-bottom:1px solid #ddd;
}
.trust_section_home a {
	display:block;
	font-size:20px;
	font-weight:bold;
	margin-top:10px;
}
.info_category_header > span.glyphicon.glyphicon-info-sign {
	font-size:124px;
float:left;
color:#333!important;
z-index:-1;
}

.no_top_margin {
	margin-top:0px!important;
}
ul._sfm_form > li.cat-item {
	font-size:12px;
	text-align:center;
}
ul._sfm_form > li.cat-item.alle,
ul._sfm_lichtfarbe-beschreibung > li.cat-item.alle,
ul._sfm_spannung_in_volt > li.cat-item.alle {
	font-size:14px;
	width:0!important;
	padding:0!important;
}
ul._sfm_form > li.cat-item > label > input,
ul._sfm_form > li.cat-item > label > input {
	visibility:hidden;
	height:0px;
width:0px;
margin:0!important;
}

ul._sfm_form,
ul._sfm_lichtfarbe-beschreibung,
ul._sfm_spannung_in_volt {
	padding-left:0px!important;
}
ul._sfm_fassung > li.cat-item._E27 > label,
ul._sfm_fassung > li.cat-item._E14 > label,
ul._sfm_fassung > .G9 > label,
ul._sfm_fassung > li.cat-item._GU10 > label,
ul._sfm_fassung > .MR16 > label,
ul._sfm_fassung > li.cat-item._GU53 > label {
	color: #333;
display: inline-block;
margin-bottom: 0;
font-weight: normal;
text-align: center;
vertical-align: middle;
touch-action: manipulation;
cursor: pointer;
border: 1px solid transparent;
white-space: nowrap;
padding: 6px
12px;
font-size: 14px;
line-height: 1.42857;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
width:90%;
height:100px;
}
li.cat-item._E27 > label {
	background: url('http://www.ledprofi.com/wp-content/uploads/2015/06/e27.jpg');
background-repeat:no-repeat;
background-size:contain;
background-position:top center;



}
li.cat-item._E14 > label {
	background: url('http://www.ledprofi.com/wp-content/uploads/2015/06/e14.jpg');
background-repeat:no-repeat;
background-size:contain;
background-position:top center;



}
.MR16 > label {
	background: url('http://www.ledprofi.com/wp-content/uploads/2015/06/gu53.jpg');
background-repeat:no-repeat;
background-size:contain;
background-position:top center;



}
.G9 > label {
	background: url('http://www.ledprofi.com/wp-content/uploads/2015/06/g9.jpg');
background-repeat:no-repeat;
background-size:contain;
background-position:top center;



}
li.cat-item._GU10 > label {
	background: url('http://www.ledprofi.com/wp-content/uploads/2015/06/gu10.jpg');
background-repeat:no-repeat;
background-size:contain;
background-position:top center;



}
.navbar-head1 {
	font-size:38px;
}
.navbar-head2 {
	font-size:22px;
}
.navbar-head3 {
	font-size:16px;
}
.navbar-nav>li.divider {
position: relative;
width: 1px;
height: 50px;
margin:10px;
margin-top:26px;
background-color:#eee;
height:24px!important;
}

ul._sfm_fassung > li.cat-item._E27 > label + input.postform:checked,
ul._sfm_fassung > li.cat-item._E14 > label + input.postform:checked,
ul._sfm_fassung > .G9 > label + input.postform:checked,
ul._sfm_fassung > li.cat-item._GU10 > label + input.postform:checked,
ul._sfm_fassung > .MR16 > label + input.postform:checked,
ul._sfm_fassung > li.cat-item._GU53 > label  + input.postform:checked {
	border-color:#000;
}



ul._sfm_fassung > li.cat-item._E27 > label > input,
ul._sfm_fassung > li.cat-item._E14 > label > input,
ul._sfm_fassung > .G9 > label > input,
ul._sfm_fassung > li.cat-item._GU10 > label > input,
ul._sfm_fassung > .MR16 > label > input,
ul._sfm_fassung > li.cat-item._GU53 > label > input {
	visibility:hidden;
	height:0px;
width:0px;
}
ul._sfm_fassung > li.cat-item._E27 > label > .cat-item-name,
ul._sfm_fassung > li.cat-item._E14 > label > .cat-item-name,
ul._sfm_fassung > .G9 > label > .cat-item-name,
ul._sfm_fassung > li.cat-item._GU10 > label > .cat-item-name,
ul._sfm_fassung > .MR16 > label > .cat-item-name,
ul._sfm_fassung > li.cat-item._GU53 > label > .cat-item-name  {
	display:block;
padding-top:45px;
}
ul._sfm_fassung {
	padding-left:0px!important;
}
img.labels_down {
		height:auto;
max-width:50px;
position:absolute;
margin-top:280px;
z-index:2;
}
img.labels_down.second {
	margin-top:280px;
	margin-left:70px;
}
span.kwh_1000h.big_label {
	text-align:center;
position:absolute;
left:0;
right:0;
bottom:60px;
}
img.labels {
	height:auto;
max-width:50px;
position:absolute;
z-index:2;

}
div.zoomContainer {
	z-index:99;
}
img.labels.second {
	margin-left:70px;
}
img.labels.third {
	margin-left: 140px;
}
img.labels.fourth {
	margin-left: 210px;
}
img.labels.fifth {
	margin-left: 280px;
}
.austria-flag {
max-height:13px!important;
padding-left:4px!important;
padding-right:4px!important;
margin-top:-3px!important;
}
.breadcrumb>span>a {
color: #333;
text-decoration: none;
}
.eu_label {
	padding:1px 4px;
border-radius:4px;
/* border:1px solid #ccc; */
background:rgb(60, 102, 255);
color:#fff;
margin-left:4px;
}
.ledprofi_section_sidebar {
	margin-top:20px;
	text-align:left!important;
}
.ledprofi_section_sidebar .float_right {
max-width:170px;
}
.ledprofi_section_sidebar .ledprofi_garantie_header {
	text-align:left;
font-size:14px;
}
.ledprofi_section_sidebar .ledprofi_garantie {
	font-size:11px;
}
.ledprofi_section_sidebar .ledprofi_garantie>li {
	padding:2px;
}
.ledprofi_section_sidebar .der_led_profi {
	max-height:100px;
margin-bottom:-30px;
z-index:9;
position:relative;
}
.ledprofi_section_sidebar img.trusted_shops {
	max-width:60px;
}
.grossmengen {
	padding-top:0px;
	font-size:12px;
}
.title_wattage {
	font-size:16px;
text-align:center;
display:inline-block;
margin-top:20px;
padding-right:10px;
padding-left:10px;
border-right:1px solid #eee;
height:58px;
vertical-align:middle;
font-weight:normal;
}
.title_wattage_number {
	font-size:22px;
	font-weight:bold;
}
.grossmengen>a:hover {
	text-decoration:underline;
}
.infolink:hover .glyphicon-info-sign {
	color: #337ab7!important;
}
.glyphicon-info-sign {
	color: #858585!important;
}
/*================================================*/
select.qty {
	font-size:16px;
}
.related_products .thumbnail {
	border:0px!important;
}

.woocommerce-main-image {
	margin-bottom:14px!important;
	padding-bottom:4px!important;
}
div.images div.thumbnails {
	padding-top:18px;
}
.images {
	margin-bottom:0px!important;
}
.products>li {
	background: #fff;
padding: 4px!important;
}
#details ul,
.references,
.above_the_fold_details {
    list-style: none;
    padding: 0;
    display: table;
    border-spacing:0 10px;
}
.header_icons {
	width:auto!important;
	height:38px!important;
	vertical-align:middle!important;
}
.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active {
	background-color: #fdbb30;
}
.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active {
	font-weight:bold;
	border-radius:4px;
}

img.header_icons.spot,
img.header_icons.globe {
	padding-right:5px;
}
#details li,
.references>li,
.above_the_fold_details>li {
	display: table-row;

}
img.lastcall {
	max-width:80%;
display:block;
}
#details li:before,
.references>li:before,
.above_the_fold_details>li:before {
    position: relative;
    color: #337ab7;
    top: 1px;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 10px 0 0;
    content: "\e080";
display: table-cell; /* aha! */
    text-align: right;
}
.products .price {
font-weight:bold!important;
color:#333!important;
font-size:20px!important;
display:inline-block;

}
.price {
	display:inline-block!important;
}
.price_color: {
	display:block;
}
.price_color>.farbtemperatur {
	margin-top:0px;
}
.price_color>.price,
.price_color,
.price_color>.price>.amount {
	text-align:left!important;
}
.specs {
	display:inline-block;
float:right;
text-align:right;
}
.middle_part {
	display:block;
height:140px;
}
.products>.row>.product>.add_to_cart_button {
margin:0 auto;
display:block;
text-align:center;
}
.products>.row>.product>.middle_part>a.thumbnail {
max-width:140px;
float:left;
}
div.products {
	margin-top:8px;
}
.navbar-nav i.fa.fa-lightbulb-o {
	padding-right:5px;
}
.products>.row>.product>h3>a {
font-size:18px;
color:#333;
font-weight:bold;
}
li.col-sm-12.dropdown-header.text-center {
	background-color:#eee!important;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus,
.navbar-nav>li:hover,
.navbar-nav>li>a:hover,
.navbar-nav>li:active,
.navbar-nav>li>a:active {
	background:transparent!important;
	text-decoration:underline;
}
.products>.row>.product>h3 {
	margin-top:0px;

}
.products>.row>.product {
	margin-bottom:0px!important;
	padding-bottom:0px!important;
}
.mini > a > img {
	max-width:170px;
	max-height:170px;
	margin-bottom:33px;
	margin-top:33px;
}
.unbold {
	font-weight:400!important;
}
.bundle_header {
	font-weight:300!important;
}

h1.product_title.entry-title {
	font-size:27px!important;
}
.lead {
	font-weight: bold;
}
.panel-info {
	border-color:transparent!important;
}
.woocommerce ul.products li.product h3 {
}
.product table>tbody>tr>td {
	vertical-align:middle!important;
}
.ganz-wien {
	color:#245783!important;
}
.selection_container {
	background:#fff;
	padding:10px!important;
}
.stock {
	color:#50C878!important;
font-size:24px!important;
font-weight:600!important;
}
.white_container {
	background-color: #fff;
border: 1px solid #ddd;
border-radius: 4px;
padding:10px;
margin-bottom:20px;
}
.product > .row {
	margin-bottom:4px;
}
.woocommerce .product .tab-content, .woocommerce-page .product .tab-content {
	border-top:1px solid #ddd;
	border-radius:4px;
	background:#fff;
}
.ersatz_info,
.express-lieferung {
	margin-bottom:20px;
}

button.single_add_to_cart_button.btn.btn-warning {
	margin-top:10px;
	width:100%!important;
}
form.cart {
	margin-bottom:0px!important;
}
.page-header {
	margin-bottom:0px;
}
.bundle {
	padding-bottom:10px;
	margin-left:-10px;
	padding-left:10px;
	margin-right:-10px;
	padding-right:10px;
}
.bundle:hover {
	background:#eee;
	cursor: pointer; cursor: hand; 
}
.garantie {
	margin-bottom:20px;
}
.garantie_1 {
	width:48%;
	display:inline-block;
	border-right: #333 2px solid;
	font-size:12px;
	font-weight:bold;
	padding-left:10px;
}
.garantie_2 {
	width:48%;
	display:inline-block;
	padding-left:2px;
	padding-right:8px;
	font-size:12px;
	font-weight:bold;

}
.nachhaltigkeit>.glyphicon-leaf {
	display:block;
margin:0px auto 5px!important;
font-size:20px;
}
.jahre {
	font-size:24px;
	font-weight:bold;
	text-align:center;
}
.nachhaltigkeit {
	padding:10px;
	font-size:14px;
	color:#333;

}
.nachhaltigkeit>.glyphicon-leaf {
		color:#50C878!important;

}
.menge {
	margin-right:15px;
}
.packs {
	margin-right:18px;
}
.five_plus_one>.infolink {
	margin:0px!important;
padding:0px!important;
}
.packs,
.menge,
input.input-text.qty.text.form-control,
.cart>.quantity {
	display:inline;
	float:none!important;
}
.preis-value {
	font-size:30px;
	font-weight:bold;
	border-top:0px;
}
.preis {
	border-top:0px;
}
.product_left {
	max-width:50px;
	text-align:left;
	padding-left:0px;
}
.uvp-value {
	text-decoration:line-through;
	border-top:0px;
}
.uvp{
	border-top:0px;
}
.woocommerce ul.products li.product a img {
	margin: 0 auto 1em auto;
}
.single_adq_button_loop,
.single_adq_button {
	font-size:11px!important;
	width:100%;
	background-color: #a46497;
color: #fff!important;
-webkit-font-smoothing: antialiased;
margin: 0;
line-height: 1;
cursor: pointer;
position: relative;
font-family: inherit;
text-decoration: none;
overflow: visible;
padding: .618em 1em;
font-weight: 700;
border-radius: 3px;
left: auto;
border: 0;
white-space: nowrap;
display: inline-block;
background-image: none;
box-shadow: none;
-webkit-box-shadow: none;
text-shadow: none;

}

.single_add_to_quote_loop,
div.simple_add_to_quote.button_add_to_quote {
	margin-top:10px;
}
header {
	background:#fff;
	height:74px;
}
.navbar h1 {
	padding-top:0px!important;
}
.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
	width:100%;
}
#site-title a,
.nav>li>a {
	color: #333;
	text-transform:uppercase;
	font-weight:bold;
	font-size:21px;
	font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.sm-nav>li {
	padding-top: 22px;
	padding-bottom: 22px;
}
#site-title a:hover,
.navbar-default .navbar-nav>li>a:hover {
	color: #3f3f3f;
}
body.admin-bar preheader {
	top:32px!important;
}
ul._sfm_glas > li.cat-item > label:hover,
ul._sfm_dimmbar > li.cat-item > label:hover,
ul._sfm_retro-look > li.cat-item > label:hover,
ul._sfm_premium > li.cat-item > label:hover,
ul._sfm_birnenleistung > li.cat-item > label:hover {
	border-color:#333;
	cursor:pointer;
}
.vitus_irgendwas > li.cat-item:hover {
	background: #f7f7f7;

}
.sf-field-post-meta-premium > h4:after {
	content: '';
	display:block;
}
#supermenu-sm-navbar-collapse,
.sm-nav {
	height:75px!important;
}
.atmo_image {
	border-radius:4px;
}
#product_total_price>.price>.amount,
#product_total_price>.price {
	color:#333;
	font-weight:bold;
	margin-bottom:0px;
}
.zzgl,
.versandkostenfrei {
	margin-bottom:10px;
	display:block;
}
.zzgl_2 {
	display: block;
/* font-weight:bold; */
padding-top:4px;
border-top:1px #eee solid;
margin-top:4px;
}
.small_title_wattage {
	font-size:12px;
}

.menu-item-name {
	letter-spacing:0px!important;
}
.bundle-left,
.bundle-right {
	display:inline-block;
}
.bundle-left {
	font-size:28px;
vertical-align:middle;
margin-right:10px;
}
.single_add_to_cart_button>.bundle-left {
	margin-left:0px;
}
.bundle-left>.glyphicon {
	vertical-align: middle;
}
.bundle-right {
	vertical-align:middle;
}
.navbar {
	min-height:74px;
	border:0px;
}
.vorrat {
	font-size:16px;
	margin-top:0px;
}
.navbar-fixed-top {
	top:36px;
	position:absolute;
}
.ledprofi_garantie_icons {
	text-align:center;
}
.ledprofi_garantie_icons>.glyphicon,
.ledprofi_garantie_icons>.fa {
	font-size:24px;
color: #337ab7
}
.bundle-two {
	margin-bottom:10px!important;
}
.nachhaltigkeit {
	text-align:center;
}
.bundlepack {
	display:block;
font-size:16px;
padding-top:10px;
}

.first_bundle,
.second_bundle {
	border-top:1px solid #eee;
}
.bundleprice {
	font-weight:bold;
}
.five_plus_one button {
	margin-bottom:20px;
	padding-top:2px;
padding-bottom:2px;
}
preheader {
	height:36px;
	top:0;
	position:absolute;
width:100%;
color:#666!important;
	font-weight:300;
	z-index:99;
	font-size:12px;
	border-bottom:1px solid #eee;
	text-align:left;
}

.bundle_image {
	min-height:360px
}

.panel-body>table {
	margin-bottom:0px;
}

.navbar-default .navbar-right {
	background-color:#fff;
}

.equal, .equal > div[class*='col-'] {  
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}
.first_info_birne,
.second_info_birne,
.first_info_globe,
.second_info_globe,
.first_info_kerze,
.second_info_kerze,
.first_info_spot,
.second_info_spot,
.first_info_g9,
.second_info_g9 {
position:absolute;
color:#fff!important;
background:#337ab7;
height:25px;
width:25px;
text-align:center;
padding:3px;
border-radius:100%;
-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}
.hvr-grow-shadow {
	    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);

}
.first_info_birne {
	margin-left:48px;
margin-top:70px;
}
.first_info_g9 {
		margin-left:100px;
margin-top:90px;
}
.second_info_g9,
.second_info_birne {
margin-top:160px;
margin-left:200px;
}
.first_info_kerze {
	margin-left:48px;
margin-top:70px;
}
.second_info_kerze {
margin-top:160px;
margin-left:200px;
}
.first_info_globe {
	margin-left:78px;
margin-top:130px;
}
.first_info_spot {
	margin-top:90px;
margin-left:80px;
}
.second_info_spot {
	margin-left:210px;
margin-top:90px;
}

.second_info_globe {
margin-top:130px;

margin-left:230px;
}
img.showcase {
	max-width:250px;
margin:0 auto;
display:block;
}
.close {
	margin-top:-3px;
}
.navbar-collapse {
	padding-right:0px;
}
.cart_list {
	min-width:400px
}
.equal .panel {
	width:100%;
}

.preicon {
	margin-right:15px;
}
.first-trail {
	padding-left:0px!important
}
.banner {
	background:#eee;
}

.ledprofigarantie {
	text-align:center;
margin-bottom:20px;
/* padding:20px; */
/* background-color:#FDBB30!important; */
border-radius:4px;
font-size:34px;
}
.infolink {
	padding:0px;
border:0px;
background:transparent;
text-align:left;
}
.popover {
	max-width:400px;
}
.headercart {
	font-size:34px;
	color:#FDBB30;
	padding:20px;
}

.navbar-form {
	padding:0px;
	margin:0px;
}
button.bundle,
button.single_add_to_cart_button {
	text-align:left;
}
.bundle_form {
	padding-top:4px!important;
border-top: 1px solid #eee;
margin-top:4px;
}
.savings {
	font-size:14px;
	font-weight:normal;
}
button.single_add_to_cart_button {
font-size:12px;
font-weight:bold;
padding-left:7px;
padding-right:7px;
}
.five_plus_one>.bundle {
	text-align:center;
}
.first_bundle,
.second_bundle {
	display:inline-block;
}
.bundle-right {
	text-align:left;
}
.btn>.bundle-left>.fa-shopping-cart {
}
button.bundle {
	font-size:12px;
	font-weight:400;
}
.preheader {
	padding-top:8.5px;
	padding-bottom:8.5px;
}
.btn-info
 {
color: #333;
background-color: #fff;
border-color: #ccc;
}
.btn-info:hover {
	background-color:#eee;
	color: #333;
border-color: #ccc;

}
ul.products {
	padding:0px;
}
.products>li>a>h3 {
	padding: .5em 0;
margin: 0;
font-size: 1em;
min-height:89px;
}
#content {
	padding-top:5px!important;
}
.quantity_select {
	display:inline;
}
footer {
	border-top:0px!important;
	padding-top:0px!important;
}
.yellow_footer {
	background:#FDBB30;
	padding-top:20px;
	padding-bottom:20px;
}
ul.footer_content {
	list-style:none!important;
	padding-left:0px;
}
.payment_providers {
	height:25px!important;
	display:inline-block;
	margin-bottom:5px;
}
.delivery_status {
	color:transparent;
	top:auto!important;
position:absolute;
bottom:37px;
left:13px;
}
.cart_totals > table.table.table-striped {
	margin-bottom:10px;
}
.woocommerce-checkout-review-order-table > tfoot > .order-total > td > small {
	display:none;
}
.coming_soon_1 {
	color:#ccc!important;
}
.shippingdetails {
	padding-left:8px;
}
.columns-1 > .products > .row > div {
	width:100%!important;
max-width:284px;
}
.footer_head {
	text-transform:uppercase;
}
.footer_content {
	font-size:12px;
margin-bottom:0px;
}
.footer_content > a {
	color:#333!important;
}
.delivery_status_hover {
	display:none;
	color:#333;
	text-align:center;
	font-size:11px;
	margin-top:8px;
}
li.product:hover .delivery_status {
	bottom:52px;
}
.footer_signup > #mc4wp_email {
display:inline;
width:70%;
max-width:250px;
}
span.fassung_label_category {
	display:none;
}
li.product:hover span.fassung_label_category {
	display:block;
	position:absolute;
	margin-top:80px;
width:100px;
text-align:center;
font-size:12px;
color:#333;
}
.footer_signup > input[type=submit] {
	display:inline;
	/* border-radius:4px; */
/* font-weight:bold; */
background-color:#337ab7;
border:0px #a2baf5 solid;
margin-left:-4px;
padding-bottom:3px;
padding-top:3px;
color:#fff;
/* border: */ 
}
.entry-content img {
	border:0px transparent solid;
		border-bottom:0px transparent solid;
}
.gray_footer {
	background:#f3f3f3;
	padding-top:20px;
	padding-bottom:20px;
}
.navbar-right .dropdown-menu {
	margin-top:11px!important;
border:0px;
border-radius:0px 0px 4px 4px;
}
.products>li>a>.price {
	color: #77a464;
display: block;
font-weight: 400;
margin-bottom: .5em;
font-size: .857em;
}
li.sf-field-sort_order>.postform {
background:transparent;
 border: 0;
 border-radius: 0;
 height: 22px;
 font-weight:600;
 margin: 0;
font-size: 16px;
 max-width:240px;
-webkit-appearance: none;
appearance:none;
moz-appearance:none;
}

li.sf-field-sort_order::before {
    position: relative;
    color: #333;
    top: 1px;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 10px 0 0;
    content:"\e259";
	display: table-cell; /* aha! */
    text-align: right;
    display:inline-block;
}
.credit {
	text-align:center!important;
	font-size:10px;
	margin-top:20px;
}
a.pre_selection_gesamt {
	color:#333;
font-size:14px;
font-weight:bold;
display:inline-block;
width:32%;
max-width:32%;
text-align:center;
font-size:12px;
}
ul.pre_selection {
	padding-top:10px;
	border-top:1px solid #eee;
	margin-bottom:0px;
}
ul.pre_selection > li > ul {
	padding-left:0px!important;
}
.cart_content {
		position:absolute;
right:0px;
color:#fff;
top:0px;
padding:2px 7px;
background-color:#333;
border-radius:100%;
font-weight:bold;
margin-right:-10px;
margin-top:-10px;
}
.pre_selection_li {
	padding:5px;
}
.twofigures {
	padding:2px 4px;
	}

.gray {
	background-color:#eee!important;
border-color: #ddd!important;
}
.gray:hover {
	background-color:#e1e1e1;
}
.sortiment_label_1 {
	position:absolute;
height:50px!important;
}
.sortiment_label_2 {
	position:absolute;
margin-top:60px;
height:50px!important;
}
.sortiment_label_3 {
	position:absolute;
margin-left:60px;
height:50px!important;
}
.sortiment_label_4 {
	position:absolute;
margin-left:120px;
height:50px!important;
}
.ledprofi_garantie > li:before {
	content:"\e013";
	font-family: 'Glyphicons Halflings';
	margin-right:5px;
	float:left;

}
.gesamtes_sortiment_ctalink > .glyphicon {
	display:inline-block;
vertical-align:middle;
font-size:18px;
}
.gesamtes_sortiment_ctanach {
	display:inline-block;
vertical-align:middle;
margin-left:4px;
}
.gesamtes_sortiment_ctanach > .bignumber {
	line-height:24px;
}
.gesamtes_sortiment_ctalink {
	color:#333!important;
}
.gesamtes_sortiment_ctalink:hover {
	text-decoration:underline!important;
}
.der_led_profi {
	max-height:150px;
margin-bottom:-44px;
z-index:99;
position:relative;
}
.ledprofi_garantie_header {
	text-align:center;
}
.ledprofi_garantie > li {
	padding:4px;
}
.ledprofi_garantie {
list-style-type:none;
padding-left:0px;
text-align:left;
font-size:12px;
margin-bottom:0px;
display:inline-block;
}
.float_left {
	float:left;
}
.float_right {
	float:right;
}
img.trusted_shops {
max-width:80px;
margin-top:20px;}
li.product:hover .sortiment_label_1 {
	height:30px!important;
	margin-top:-85px;
	margin-left:20px;
	z-index:99;
	display:none;
}
li.product:hover .sortiment_label_2 {
	height:30px!important;
	margin-top:-50px;
	margin-left:20px;
	z-index:99;
	display:none;

}
.trustedshops_1 > h2,
.trustedshops_2 > h2 {
	display:none;
}


li.sf-field-sort_order {
	display:none!important;
}
.sorting-options {
font-size: 11px;
text-align: right;
padding-top: 12px;
padding-bottom: 4px;
/* margin-bottom: 40px; */
border-top: 1px solid #eee;
/* border-bottom: 1px solid #eee; */
cursor:pointer;
}
.sorting-options > span:hover {
	cursor:pointer;
	text-decoration:underline;
}
#popularity,
#price,
#lebensdauer {
	padding-left:5px;
	padding-right:5px;
}
div.trustedshops_1,
.widget_trusted_shops_reviews_content {
	text-align:center!important;
font-size:10px!important;
}
.trusted_review_star {
	content: "\f005";
color: #ffc40d;
font-family: FontAwesome;
font-weight: 400;
font-style: normal;
display: inline-block;
direction: rtl;
font-size: 13px;
}
.trusted_review_star:before {
	content: "\f005";
padding-right: 2px;
}
.trusted_review_star_rating {
	display:inline-block;
	margin-bottom:10px;
}
.trusted_review_rating {
	margin:10px 0px;
	padding:4px 8px;
background-color: #f7f7f7;
border: 1px solid #ddd;
color:#666;
	margin-bottom:10px;
}
.trusted_review_content {
	margin-top:10px;
font-weight:bold;
font-size:16px;
	min-height:66px;

}
#trust-box > .col-md-6 > p {
	text-align:left;
}
#trust-box {
	margin:20px;
	color:#666;
}
.ledprofi_teambild {
	max-width:100px!important;
border-radius:100%!important;
float:right!important;
}
.home_cta_sortiment {
	width:100%;
text-align:center;
display:block;
background-color:#337ab7;
border:0px #a2baf5 solid;
color:#fff;
padding:6px;
font-size:18px;
margin:0 auto;
max-width:240px;
font-weight:bold;
vertical-align:middle;
}
.home_cta_sortiment:hover {
	color:#fff;
	background-color:#2a6698;
}
.home_cta_sortiment > .glyphicon {
	font-size:28px;
}
.sf-field-post-meta-lebensdauer_in_jahren_4h_pro_tag {
	display:none!important;
}
.anwendungsbereiche {
	border-right:1px solid #ccc;
padding:10px;
}
.anwendungsbereiche_1 {
	border-right:1px solid #ccc;
padding:10px;
}
.anwendungsbereiche_6 {
padding:10px;
}
a.trusted_review_more {
	float:right;
}
.trusted_review_data {
	font-style:italic;
}
li.product:hover .sortiment_label_3 {
	height:30px!important;
	margin-top:-85px;
	margin-left:55px;
	z-index:99;
	display:none;

}
li.product:hover .sortiment_label_4 {
	height:30px!important;
	margin-top:-85px;
	margin-left:55px;
	z-index:99;
	display:none;	
}
.products>li>a>.add_to_cart_button {
	background-color:#FDBB30!important;
color:#333!important;
font-size: 100%;
margin: 0;
line-height: 1;
cursor: pointer; cursor: hand; 
position: relative;
font-family: inherit;
text-decoration: none;
overflow: visible;
padding: .618em 1em!important;
font-weight: 700!important;
border-radius: 3px;
left: auto;
color: #515151;
background-color: #ebe9eb;
border: 0;
white-space: nowrap;
display: inline-block;
background-image: none;
box-shadow: none;
-webkit-box-shadow: none;
text-shadow: none;
margin-top:1em;
}
.pre_selection,
.pre_selection_gesamt {
	padding:0px;
	list-style-type:none!important;
}
.pre_selection>li>ul>li,
.pre_selection_gesamt>li>ul>li {
		list-style-type:none!important;

}
.preselectionheader {
	margin: 0;
padding: 5px 0 10px;
font-size: 16px;
}
.products>li>a>img {
	width: 100%;
	max-width:181px;
height: auto;
display: block;
margin: 0 0 1em;
box-shadow: none;
}

.energy {
/* height:111px; */
background-image: url(http://www.ledprofi.com/wp-content/uploads/2015/05/energie.png);
background-repeat:no-repeat;
background-size: auto 23px;
padding-left:121px;
width:100%!important;
padding-top:0px;
height:23px;
max-width: 358px;
}
        #energyEfficiencySprite { display: inline-block; width: 50px; height: 23px;vertical-align:top!important; }
        .energy_efficiency_sprite {margin-right: 10px; background-image: url(http://www.ledprofi.com/wp-content/uploads/2015/05/Eu-icons-sprite-desktop._CB335054663_-2.png); background-repeat: no-repeat; vertical-align: middle; }
        .A3 {background-position: 0 0px; }
        .A2 {background-position: 0 -24px; }
        .A1 {background-position: 0 -47px; }
        .A {background-position: 0 -71px; }
        .B {background-position: 0 -95px; }
        .C {background-position: 0 -119px; }
        .D {background-position: 0 -143px; }
        .E {background-position: 0 -167px; }
        .F {background-position: 0 -191px; }
        .G {background-position: 0 -215px; }
.searchandfilter>ul {
	background:#fff;
	padding-left:0px!important;
}
.kwh_1000h {
	display:inline-block;
	color:#333;
	text-align:left;
	margin-top:-2px;
	vertical-align:middle;
}
.searchandfilter>ul>li {
	border-top:1px solid #eee;
}
.searchandfilter>ul>li>ul {
	padding-left:20px;
}
#kerzen button.wattage,
#globes button.wattage {
	width:49.4%;
}
#spots button.wattage {
	width:32.6%;
}
.auswahl-aufheben > button {
	margin:20px 0;
width:100%;
background:#337ab7;
color:white;
border:0px;
padding:10px;
border-radius:4px;
}
.auswahl-aufheben > button > .glyphicon {
	padding-right:7px;
margin-left:-7px;
}
button.wattage {
color:#fff;
background:#337ab7!important;
border:1px solid;
border-radius:5px;
font-size:16px;
margin-bottom:10px;
width:19.1%;
}
#mask {
position: absolute !important;
z-index: 9;
width: 100%;
background: rgba(0,0,0,0.6);
display: none;
}
button.sortiment {
	display:block;
color:#fff;
background:#337ab7!important;
border:1px solid;
border-radius:5px;
font-size:16px;
width:100%;
margin-bottom:10px;
}
button.wizard {
display:block;
color:#fff;
background:#337ab7!important;
border:1px solid;
border-radius:5px;
font-size:16px;
width:100%;
margin-bottom:10px;	
}
.sm-navbar-brand img {
	margin:0;
	position: absolute;
	top: 0;
	bottom: 0;
	transition: all 0.3s;
	padding-left:10px;
}
.navbar-brand {
	color:#FDBB30;
/* padding-top:10px; */
position:relative;
/* line-height:71px; */
/* vertical-align:middle; */
/* float:none!important; */
/* padding:0px!important; */
padding-top:0px!important;
padding-left:0px!important
}


.ledprofi_logo {
height:74px!important;
display:inline-block!important;
margin-top:2px;
}
.dropdown-headline {
	font-weight:bold;
/* text-transform:uppercase; */
margin-bottom:10px;
display:block;
font-size:18px;
}
.woocommerce-pagination {
	display:block;
}
.woocommerce-pagination>ul {
	display: inline-block;
white-space: nowrap;
padding: 0;
clear: both;
border: 1px solid #d3ced2;
border-right: 0;
margin: 1px;
list-style:none;
}
.woocommerce-pagination>ul>li {
	border-right: 1px solid #d3ced2;
padding: 0;
margin: 0;
float: left;
display: inline;
overflow: hidden;
}
.woocommerce-pagination>ul>li>a,
.woocommerce-pagination>ul>li>span {
margin: 0;
text-decoration: none;
line-height: 1;
font-size: 1em;
font-weight: 400;
padding: .5em;
min-width: 1em;
display: block;
}
body {
	padding-top:36px;
}
.navbar-inverse-blue {
	background-color:#fff!important;
}
li.entry.product {
	text-align:center;
}
.add_to_cart_button,
.single_add_to_cart_button {
	background-color:#FDBB30!important;
	color:#333!important;
	border-radius:4px;
	margin-top:1em!important;
}
.add_to_cart_button {
	padding: .618em 1em!important;
	font-weight:700!important;
	display:block;
}
.btn-warning {
	background-color:#FDBB30;
	border-color: #eea236;
}
.add_to_cart_button:hover,
.single_add_to_cart_button:hover,
.btn-warning:hover {
background-color:#e9ad2c;
}

.homeoffer>li {
	list-style:none;
	height:90px;
	width:100%;
	background:#337ab7;
	padding:20px;
	color:#fff;
	margin-bottom:10px;
	font-size:14px;
	text-transform:uppercase;
	text-align:left!important;
}
.homeoffer>li.last_cta {
	margin-bottom:0px;
}
.homeoffer {
	padding-left:0px;
}

#main,
body {
	background:#fff;
}
.table>thead>tr>th, table>thead>tr>th, .table>thead>tr>td, table>thead>tr>td, .table>tbody>tr>th, table>tbody>tr>th, .table>tbody>tr>td, table>tbody>tr>td, .table>tfoot>tr>th, table>tfoot>tr>th, .table>tfoot>tr>td, table>tfoot>tr>td {
	padding: 8px;
line-height: 1.42857;
vertical-align: middle;
border-top: 1px solid #eee;
}
.ledbrand,
.ledbrand>a,
.ledbrand>a>img {
	z-index:99;
}
.ledlogo {
	height:86px;
	width:86px;
	z-index:99!important;
}
.navbar-collapse.collapse,
ul.nav,
ul.nav > li  {
	height:78px;
}
.triangle {
	width: 0;
height: 0;
border-style: solid;
border-width: 0 45px 30px 45px;
margin:0 auto 10px;
border-color: transparent transparent #FDBB30 transparent;
}
.mobile > .fa-shopping-cart {
	font-size:24px!important;
}
.mobile > .fa-angle-down {
	display:none!important;
}
a.mobile {
display:none;
	  padding:0px;
  position: absolute!important;
  width: 44px!important;
  height: 34px!important;
  right: 0px!important;
  margin-right: 15px!important;
  margin-top: 8px!important;
  padding-top:4px;

}
li>a.dropdown-toggle {
vertical-align:middle;
display:inline-block;
padding:24px 10px;
margin-top:3px;
}

.mobile {
	display:none;
}
.pre_selection_li:before,
._sfm_form > li.cat-item._Mini > label:before,
._sfm_form > li.cat-item._Globe > label:before,
._sfm_form > li.cat-item._Glühbirne > label:before,
._sfm_form > li.cat-item._Kerzenlampe > label:before,
._sfm_form > li.cat-item._Kerzenlampe-windstoss > label:before {
   background-repeat: no-repeat!important;
   background-position: center top;
   content: "";
   display: block;
   height: 30px;
   margin:0 auto;
   vertical-align: middle;
   width: 40px;
   overflow:hidden;
}
.wizard > .steps > ul > li {
	width:50%;
}

#billing_postcode_field {
	float: left;
width: 47%;
overflow: visible;
display:inline;
	clear:none;

}
#mainslider {
	background: url('http://www.ledprofi.com/wp-content/uploads/2015/06/start-ledfaden5_comp.jpg');
	background-repeat:no-repeat;
	height:500px;
	background-size:cover;
	background-position:center center;
}
.entry-content img{
	padding: 0px;
border: 0px solid #ddd;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}
.jumbotron {
	display:none!important;
}
.actions>ul>li> {
	color:#333; border:1px solid #333; background-color:transparent;
}
#billing_city_field {
	float:right;
	width:47%;
	overflow:visible;
	display:inline;
	clear:none;
}
.pre_selection_li.birne:before,
li.cat-item._Glühbirne > label:before {
	background-image: url('http://www.ledprofi.com/wp-content/uploads/2015/06/birne_icon1.png') ; 
background-size:30px;
}

.pre_selection_li.mini:before,
li.cat-item._Mini > label:before {
	background-image: url('http://www.ledprofi.com/wp-content/uploads/2015/06/mini_icon.png') ; 
background-size:30px;
}
.pre_selection_li.g9:before {
	background-image: url('http://www.ledprofi.com/wp-content/uploads/2015/06/g9_icon.png');
	background-size:30px;
}
.pre_selection_li.globe:before,
li.cat-item._Globe > label:before {
	background-image: url('http://www.ledprofi.com/wp-content/uploads/2015/06/globe_icon.png') ; 
background-size:50px!important;
height:50px!important;
width:50px!important;
margin:0 auto!important;
}
.pre_selection_li.kerze:before,
li.cat-item._Kerzenlampe > label:before {
	background-image: url('http://www.ledprofi.com/wp-content/uploads/2015/06/kerze_icon.png') ; 
background-size:30px;
}
li.cat-item._Kerzenlampe-windstoss > label:before {
	background-image: url('http://www.ledprofi.com/wp-content/uploads/2015/06/windstoss.png') ; 
background-size:30px;
}
.pre_selection_li.spot:before{
	background-image: url('http://www.ledprofi.com/wp-content/uploads/2015/06/spot_icon.png') ; 
background-size:30px;
}


.blackbg {
	    background-color:#000; 
    height: auto;  
    margin: 0 auto; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 00px 0;
        position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);
}
.showcasetemp {
	margin:10px auto 10px auto;
}

.white {
    color: white;
}

.left_navbar_brand,
.right_navbar_brand {
	display:inline-block;
}
.left_navbar_brand {
	height:auto;
margin-top:2px;
}
.right_navbar_brand {
	display:inline-block;
margin-top:8px;
margin-left:5px;
height:auto;
vertical-align:middle
}
.left_navbar_brand>img {
	height:74px;
}
.btn-lg {
    font-size: 38px;
    line-height: 1.33;
    border-radius: 6px;
}
.searchandfilter label {
	display:inline-block;
}

.box > .icon {
    text-align: center;
    position: relative;
}
.homeoffer .glyphicon {
position:relative;
/* margin-left:-160px; */
font-size:40px;
margin-top:5px;
float:left;
margin-right:20px;
}
.homeoffer .fa {
	margin-left:15px;
}
.box > .icon > .image {
    position: relative;
    z-index: 2;
    margin: auto;
    width: 88px;
    height: 88px;
    border: 7px solid white;
    line-height: 88px;
    border-radius: 50%;
    background: #337ab7;
    vertical-align: middle;
}
.more > a {
color:#333!important;
background:#FDBB30!important;
border:1px solid;
border-radius:5px;
font-weight:bold;
font-size:16px;
margin-bottom:10px;
padding:10px;
position:relative;
display:block;
margin-left:auto;
margin-right:auto;
border:0px;
width:90%;
text-transform:none!important;
}


.box > .icon > .image > i {
    font-size: 40px !important;
    color: #333 !important;
}

#place_order {
	color:#333;
	background-color:#FDBB30;
border-color: #eea236;
float:right;
font-size:24px;
}
p.form-row.legal.terms,
p.form-row.legal.terms > label {
	font-weight:normal!important;
	font-size:12px!important;
	line-height:18px;
	margin-bottom:4px!important;
}
.box > .icon > .image {
	    background:#FDBB30!important;

}
img.newsletter_signup {
	margin-top:-15px; border-radius:4px 4px 0px 0px
}
div#payment.woocommerce-checkout-payment {
	margin-bottom:0px!important
}
.woocommerce-checkout-review-order-table > tfoot > .shipping > th,
.woocommerce-checkout-review-order-table > tfoot > .shipping > td {
	padding-top:2px;
	padding-bottom:2px;
}
.woocommerce form .form-row label, .woocommerce-page form .form-row label {
	display:block!important;
}
.payment_method_paypal > label > a {
	display:none!important;
}
#order_payment_heading {
	display:none;
}
.woocommerce-checkout-payment label {
	display:inline!important;
}
.bignumber {
	font-size:24px;
display:block;
font-weight:bold;
}
.subtitle {
	
}
.mehr_list > a,
.mehr_list > a > li {
	color:#333;
font-weight:normal;
font-size:14px;
cursor:pointer;
z-index:99!important;
}
.mehr_list > a:hover,
.mehr_list > a > li:hover {
	text-decoration:underline;
} 

img.attachment-shop_thumbnail.wp-post-image {

float: right;
margin-left: 4px;
width: 32px;
height: auto;
box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
-moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
}
.cart_list > li > .quantity,
.cart_list > li > .total {
	float:right;
}
p.total {
		text-align:right!important;

}
input#_mc4wp_subscribe_woocommerce_checkout.input-checkbox {
	font-size:24px;
position:relative;
}
#_mc4wp_subscribe_woocommerce_checkout_field > label.checkbox {
	padding-left:0px;
}
.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active, .login .form-row .button {
	border: 1px solid #eea236;
}
tr.order-tax {
	display:none;
}
.checkout-button {
	color:#333!important;
	font-weight:bold;
}
.cart_list > li {
	height:80px;
}

.klarna {
	height:35px!important;
}
.mehr_header > .col-md-4 {
	height:120px;
}
.inline_payment {
	display:inline-block;
	vertical-align:top;
}
preheader > .preheader > span > a {
	color:#333!important;
	cursor:help;
}
.dropdown-header {
	text-align:left!important;
}
.aufdersuchenach {
	text-align:center;
	border:1px solid #eee;
	background-color: #f7f7f7;
	border-radius:4px;
	padding:5px;
}
.aufdersuchelink {
	color:#333!important;
}
.aufdersuchelink:hover {
	color:#222!important;
}
.box > .icon > .info {
    margin-top: -24px;
background-color:#f7f7f7;
border:1px solid #ddd;    padding: 15px 0 10px 0;
    border-radius:4px;
}


    .box > .icon > .info > h3.title {
        color: #222;
        font-weight: 500;
    }

    .box > .icon > .info > p {
        color: #666;
        line-height: 1.5em;
        margin: 20px;
    }
.woocommerce .product .cart, .woocommerce-page .product .cart {
	margin-bottom:0px!important;
}

.bundled_product_summary {
	padding:0px!important;
}
.box > .icon > .info > .more a {
    color: #222;
    line-height: 12px;
    text-transform: uppercase;
    text-decoration: none;
}
.newsletter_signup_box {
background-color:#f7f7f7;
border:1px solid #ddd;    padding: 0!important;
    border-radius:4px;
}
.newsletter_signup_box img {
	border-radius:4px 4px 0px 0px;
}
.newsletter_signup_box input[type=submit] {
	background-color:#337ab7;
	font-weight:bold;
	color:#fff;
	padding:10px;
border:0px;
}
.main_c2a {
	position:absolute;
right:230px;
top:320px;
text-align:right!important;
}
.main_c2a > vc_btn3 {
	text-align:right!important;
}
.gesamtes_sortiment {
	font-size:14px;
margin-top:6px;
display:block;
}
li.cat-item > label:hover,
li.cat-item.pre_selection_li:hover, {
	text-decoration:underline;
	font-weight:bold!important;
}

.pre_selection_li,
li.cat-item._Glühbirne,
li.cat-item._Globe,
li.cat-item._Mini,
li.cat-item._Kerzenlampe,
li.cat-item._Kerzenlampe-windstoss {
	border:1px transparent solid;
}
.pre_selection_li:hover,
li.cat-item._Glühbirne:hover,
li.cat-item._Globe:hover,
li.cat-item._Mini:hover,
li.cat-item._Kerzenlampe:hover,
li.cat-item._Kerzenlampe-windstoss:hover {
	border:1px solid #333;
border-radius:4px;
}
.header_border_top {
	padding-top:20px;
	border-top:1px solid #eee;
}
.main_c2a > a {
	color:#333!important;
background-color:#fff!important;
border-color: #eee!important;
font-weight:bold;
}
.newsletter_signup_box input,
.newsletter_signup_box select {
	border-radius:4px;
	width:80%;
	margin:0 auto;
	display:block;
	border:1px #ccc solid;
}
.box .space {
    height: 30px;
}
.bundle>a {
	color:#333!important;
}